.container {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(237, 198, 198, 0.1);
  /* display: flex;
  flex-direction: column; */
  min-width: 250px;
}

.header {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
