.Container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.Container :nth-child(5) .FifthGrid {
  display: flex;
  flex-direction: row;
}

.TagInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Topik {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.SelectionGroup {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  margin-bottom: 10px;
}

.SecondBox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
