.Container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-auto-flow: row dense;
  gap: 1rem;
  padding: 1rem;
}

.Container :nth-child(1) {
  grid-column: span 8;
}

.Container :nth-child(2) {
  grid-column: span 4;
}

.Container :nth-child(3) {
  grid-column: span 6;
}

.Container :nth-child(4) {
  grid-column: span 6;
}

.Container :nth-child(5) {
  grid-column: span 8;
}

.Container :nth-child(5) .FifthGrid {
  display: flex;
  flex-direction: row;
}

.Container :nth-child(6) {
  grid-column: span 4;
}

.TagInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Topik {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.SelectionGroup {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  margin-bottom: 10px;
}
