.TooltipContent {
  font-size: small;
  background-color: white;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.2);
  animation: fadein 0.2s ease-in-out forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
