@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/mauve.css";

:root {
  --san-marino-50: #f3f7fb;
  --san-marino-100: #e4ecf5;
  --san-marino-200: #cedfef;
  --san-marino-300: #adcae3;
  --san-marino-400: #86afd4;
  --san-marino-500: #6994c8;
  --san-marino-600: #567cba;
  --san-marino-700: #4e6fb1;
  --san-marino-800: #42588b;
  --san-marino-900: #394b6f;
  --san-marino-950: #262f45;

  --midnight-50: #eef8ff;
  --midnight-100: #d8eeff;
  --midnight-200: #bae2ff;
  --midnight-300: #8ad1ff;
  --midnight-400: #53b7ff;
  --midnight-500: #2b96ff;
  --midnight-600: #1477fc;
  --midnight-700: #0d5ee8;
  --midnight-800: #124cbb;
  --midnight-900: #154493;
  --midnight-950: #0b1a37;

  --spring-green-50: #effef3;
  --spring-green-100: #d9ffe4;
  --spring-green-200: #b6fcca;
  --spring-green-300: #5ff78d;
  --spring-green-400: #3deb72;
  --spring-green-500: #13d44f;
  --spring-green-600: #09b03d;
  --spring-green-700: #0b8a33;
  --spring-green-800: #0f6c2c;
  --spring-green-900: #0e5928;
  --spring-green-950: #013212;

  --golden-fizz-50: #fcfee8;
  --golden-fizz-100: #f9ffc2;
  --golden-fizz-200: #f8ff89;
  --golden-fizz-300: #fcff38;
  --golden-fizz-400: #fdf712;
  --golden-fizz-500: #ecdc06;
  --golden-fizz-600: #ccae02;
  --golden-fizz-700: #a37e05;
  --golden-fizz-800: #86620d;
  --golden-fizz-900: #725011;
  --golden-fizz-950: #432b05;

  --magenta-fuchsia-50: #fff2fe;
  --magenta-fuchsia-100: #ffe5fe;
  --magenta-fuchsia-200: #ffc9fd;
  --magenta-fuchsia-300: #ffa0f8;
  --magenta-fuchsia-400: #ff67f3;
  --magenta-fuchsia-500: #ff2ef5;
  --magenta-fuchsia-600: #f21ceb;
  --magenta-fuchsia-700: #c407ba;
  --magenta-fuchsia-800: #a00896;
  --magenta-fuchsia-900: #820d78;
  --magenta-fuchsia-950: #580050;

  --red-50: #fff0f0;
  --red-100: #ffdede;
  --red-200: #ffc3c3;
  --red-300: #ff9a9a;
  --red-400: #ff5f5f;
  --red-500: #ff2e2e;
  --red-600: #f41010;
  --red-700: #ce0707;
  --red-800: #aa0a0a;
  --red-900: #8c1010;
  --red-950: #4d0202;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--san-marino-900);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
