.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.page {
  display: flex;
  padding: 14px;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #e8e8e8;
}
