.table {
  width: 100%;
  border-spacing: 0 10px;
}

.thead {
  background-color: white;
}

.thead th {
  font-weight: 500;
  font-size: 15px;
  padding: 8px;
}

.thead span {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.thead svg {
  width: 14px;
  height: 14px;
}

.thead th:first-child {
  border-radius: 10px 0 0 10px;
}

.thead th:last-child {
  border-radius: 0 10px 10px 0;
}

.tbody tr {
  background-color: white;
  box-shadow: 10px 10px 10px -16px rgba(0, 0, 0, 0.75);
}

.tbody tr:hover {
  background-color: var(--san-marino-300);
  transition: background-color 0.2s ease-in-out;
}

.tbody td:first-child {
  border-radius: 10px 0 0 10px;
}

.tbody td:last-child {
  border-radius: 0 10px 10px 0;
}

.tbody td {
  font-size: 14px;
  padding: 8px;
  /* background-color: white; */
}

.keyword {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.keyword span {
  border: 1px solid var(--magenta-fuchsia-700);
  padding: 4px 6px;
  text-align: center;
  border-radius: 4px;
}

.status {
  background-color: var(--spring-green-400);
  padding: 5px 9px;
  text-align: center;
  border-radius: 15px;
  color: white;
}

.actionContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.actionContainer button:hover {
  cursor: pointer;
}

.view {
  background-color: var(--midnight-500);
  padding: 2px 4px;
  text-align: center;
  color: white;
  align-items: center;
  border: none;
  border-radius: 5px;
}

.edit {
  background-color: var(--golden-fizz-500);
  padding: 2px 4px;
  text-align: center;
  color: white;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view:hover {
  background-color: var(--midnight-600);
}
.edit:hover {
  background-color: var(--golden-fizz-600);
}

.tbody svg {
  width: 15px;
  height: 15px;
}

.dialog {
  z-index: 100;
}
